<h1> Your posts</h1>
<h2><%=@pic.title%></h2>
<p><%=@pic.description%></p>
<%=link_to "back", root_path%>
<%=link_to "edit", edit_pic_path%>
<%= link_to "delete",pic_path#, method: :delete, data:{ confirm: "are you sure??"}%>